
body {
    background-color: #91f222;
}

.card {
    background-color: #ea20b0;
    margin-top: 50px;
}

.card-header {
    background-color: #f6214ce1;
    color: #b0d11c;
    padding: 10px;
    text-align: center;
}

.card-body {
    padding: 20px;
}
